*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg ,#2b1a4b , #5e3a87);
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 15px;
    background: rgba(0,0,0,0.4);
}

header h1{
    font-size: 20px;
}
header img{
    width: 80px;
    height: 100px;
}

.content{
    display: flex;
    flex: 1;
}

main{
    flex: 2;
    padding: 40px;
    background: url("./assets/rose.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h2{
    font-size: 30px;
    margin-bottom: 10px;
}

main p{
    margin-bottom: 20px;
}

main button{
    width: 140px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #a56bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main button:hover{
    background: #c08cff;
}

aside{
    flex: 1;
    background: #f3d6ff;
    color: #2b1a4b;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside h2{
    margin-bottom: 20px;
}
li{
    position: relative;
}

aside ul{
    list-style: none;
    width: 50%;
}

aside ul ul {
    display: none;
}

aside li:hover > ul{
    display: block;
    position: absolute;
    top:0;
    right: 101%;
}

aside li{
    margin-bottom: 15px;
}

aside a{
    display: block;
    text-align: center;
    padding: 10px;
    background: #2b1a4b;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

aside a:hover{
    background: #5e3a87;
}

footer{
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

form{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

form input{
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

form input:focus{
    border: #a56bff 3px solid;

}

form button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #a56bff;
    color: white;
    cursor: pointer;
}